*.class
*.project
*.settings
*.classpath
dcma-gwt/*/target/
build-plugins/*/target
dcma-webapp/temp
*/target/
*/bin/
*/*/bin/
.sonar/*
*.jar
*.symbolMap
*.MF
.gitignore
pom.properties
README.txt
*.suo
*.metadata
Servers/*
*.pmd
/build-utils/code-obfuscate/jars/defaultExclude.txt
/build-utils/code-obfuscate/jars/defaultTrimExclude.txt
/build-utils/code-obfuscate/jars/gettingStarted.html
/build-utils/code-obfuscate/jars/images/masthead.jpg
/build-utils/code-obfuscate/jars/images/skipBtn.gif
/build-utils/code-obfuscate/jars/images/zkmScriptBtn.gif
/build-utils/code-obfuscate/jars/install.html
/build-utils/code-obfuscate/jars/license.html
/build-utils/code-obfuscate/script/script.txt
/build-utils/code-obfuscate/common-logs/
/build-utils/code-obfuscate/mapping-logs/
.mvn/*
*/.mvn/*
*/mvnw*
/.recommenders/
